.base__alert {
  &.base__alert--color-success {
    color: var(--onSuccess);
    background-color: var(--success);
  }
  &.base__alert--color-info {
    color: var(--onInfo);
    background-color: var(--info);
  }
  &.base__alert--color-warning {
    color: var(--onWarning);
    background-color: var(--warning);
  }
  &.base__alert--color-error,
  &.base__alert--color-noWifi {
    color: var(--onError);
    background-color: var(--error);
  }
}
