.base__input {
  max-height: 36px;
  border: 1px solid transparent;
  transition: var(--transition-duration) ease;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
  }

  &.base__input--transparent {
    background: transparent !important;
    box-shadow: none !important;
  }

  &.base__input--color-surface {
    background: var(--surface);
  }

  &.base__input--color-surfaceVariant {
    background: var(--surfaceVariant);

    input::placeholder {
      color: var(--onSurfaceVariant);
      opacity: 0.75;
    }
  }

  &.base__input--color-background {
    background: var(--background);
  }

  &.base__input--error {
    max-height: 60px;
    border: 1px solid var(--error);
  }
}
