.q-tab {
  flex: 0 !important;
  min-height: unset;
  padding: 0;
}

.q-tabs__content {
  gap: 20px;
}

.q-focus-helper {
  opacity: 0 !important;
}

.q-tab__label {
  font-size: $body-font-size-5;
}

// calendar

.q-panel {
  overflow: visible;
}

$dateWidth: max(32px, 4vh);
$dateGap: 1vh;

#calendar__day__names {
  display: grid;
  grid-template-columns: repeat(7, $dateWidth);

  gap: $dateGap;
}

.date {
  $border: 1px solid;

  border: $border transparent;
  background-color: var(--surface);
  color: var(--onSurface);

  &:not(.date--state-active) {
    opacity: 50%;
  }

  &.date--state-today {
    background-color: var(--secondary);
    color: var(--onSecondary) !important;
  }

  &.date--state-claimed-normal {
    border: $border var(--primary);
  }

  &.date--state-claimed-special {
    border: $border var(--tertiary);
  }
}

#calendar__container {
  height: calc($dateWidth * 7);

  .calendar__container__dates {
    display: grid;
    grid-template-columns: repeat(7, $dateWidth);
    grid-template-rows: repeat(6, $dateWidth);
    gap: $dateGap;
    font-size: max($body-font-size, 2vh);
  }
}

// calendar transition

.calendar__transition--left-enter-active,
.calendar__transition--left-leave-active,
.calendar__transition--right-enter-active,
.calendar__transition--right-leave-active {
  position: absolute;
  transition: all 0.5s ease;
}

.calendar__transition--fade-enter-active,
.calendar__transition--fade-leave-active {
  transition: opacity 0.5s ease;
}

.calendar__transition--fade-enter-from,
.calendar__transition--fade-leave-to {
  opacity: 0;
}

.calendar__transition--left-enter-to,
.calendar__transition--right-enter-to,
.calendar__transition--left-leave-from,
.calendar__transition--right-leave-from {
  translate: -50% 0;
}

.calendar__transition--left-enter-from,
.calendar__transition--right-leave-to {
  translate: 100% 0;
}

.calendar__transition--left-leave-to,
.calendar__transition--right-enter-from {
  translate: -200% 0;
}
