a {
  text-decoration: none;
  color: var(--onBackground);

  &.router-link-exact-active {
    color: var(--primary) !important;
  }
}

input {
  padding: 0;
  font-weight: 400;
  color: var(--onBackground);
  border: none;
  outline: none;
  background: none;

  &:-webkit-autofill,
  &:-webkit-autofill:is(:hover, :focus, :active) {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--onSurfaceVariant);
    transition: background-color 5000s ease-in-out 0s;
  }
}

.main-title {
  margin: 0;
  font-size: $body-font-size-8;
  font-weight: 600;
  letter-spacing: 1px;
}

.hug {
  width: fit-content;
  height: fit-content;
}

.box-shadow {
  box-shadow: $shadow;
}

.drop-shadow {
  filter: drop-shadow($shadow);
}

.z-zero {
  z-index: 0;
}

.z-minus {
  z-index: -1000;
}

.q-loading__message {
  margin: 20px 20px 0;
}

:is(h1, h2, h3, h4, h5, h6) {
  margin: 0;
}
