#base__modal {
  z-index: 3000;
  background-image: linear-gradient(
    to bottom,
    var(--surface),
    var(--background)
  );
  border-radius: 25px 25px 0 0;
  min-height: 300px;

  hr {
    width: 40%;
    height: 5px;
  }

  #base__modal__desc {
    span {
      color: var(--onSurface);
      opacity: 0.75;
      font-weight: 200;
    }

    hr {
      height: 1px;
    }

    .q-checkbox__label {
      color: var(--onSurface);
      opacity: 0.75;
      font-weight: 200;
    }

    .q-select {
      span {
        font-weight: 400;
        font-size: $body-font-size;
        letter-spacing: 2px !important;
        opacity: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

// transition

.modal-slide-enter-from,
.modal-slide-leave-to {
  translate: 0 100%;
}

.modal-slide-enter-to,
.modal-slide-leave-from {
  translate: 0;
}

.modal-slide-enter-active,
.modal-slide-leave-active {
  transition: all 0.4s ease-in-out;
}
