:root {
  --transition-duration: 0.3s;
  --page-transition-duration: 0.5s;

  --base-transition: var(--transition-duration) ease;
  --page-transition: var(--page-transition-duration) ease-in-out;
}

.transition-03 {
  transition: var(--base-transition);
}

// Element Transitions

// fade
.fade-enter-active,
.fade-leave-active {
  transition: all var(--base-transition);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// list

.list-transition-move {
  z-index: 1;
}

.list-transition-move,
.list-transition-enter-active,
.list-transition-leave-active {
  transition: all 0.5s ease;
}

.list-transition-enter-from,
.list-transition-leave-to {
  opacity: 0;
}

.list-transition-leave-active {
  position: absolute;
  z-index: 0;
}

// Page Transitions

// fade
.page-fade-enter-active,
.page-fade-leave-active {
  transition: all var(--page-transition);
}

.page-fade-enter-from,
.page-fade-leave-to {
  opacity: 0;
}

// scale
.page-scale-enter-active,
.page-scale-leave-active {
  position: absolute;
  transition: all var(--page-transition);
}

.page-scale-enter-from,
.page-scale-leave-to {
  opacity: 0;
  transform: scale(0.9);
}

.page-scale-enter-to,
.page-scale-leave-from {
  opacity: 1;
  transform: scale(1);
}

// slide left and right
.page-slide-left-enter-active,
.page-slide-left-leave-active,
.page-slide-right-enter-active,
.page-slide-right-leave-active,
.page-slide-up-enter-active,
.page-slide-up-leave-active,
.page-slide-down-enter-active,
.page-slide-down-leave-active {
  position: absolute;
  transition: all var(--page-transition);
}

.page-slide-left-enter-to,
.page-slide-right-enter-to {
  right: 0;
}

.page-slide-left-enter-from {
  right: -100%;
}

.page-slide-left-leave-to {
  left: -100%;
}

.page-slide-right-enter-from {
  right: 100%;
}

.page-slide-right-leave-to {
  left: 100%;
}

.page-slide-left-leave-from,
.page-slide-right-leave-from {
  left: 0;
}

// slide up and down
.page-slide-up-enter-to,
.page-slide-down-enter-to {
  bottom: 0;
}

.page-slide-up-enter-from {
  bottom: -100%;
}

.page-slide-up-leave-to {
  top: -100%;
}

.page-slide-down-enter-from {
  bottom: 100%;
}

.page-slide-down-leave-to {
  top: 100%;
}

.page-slide-up-leave-from,
.page-slide-down-leave-from {
  top: 0;
}
