<?xml version='1.0' encoding='utf-8'?>
<widget id="com.akang.kert" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kert</name>
    <description>An Akang Project</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="about:*" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <platform name="android">
        <resource-file src="res/values/icons.xml" target="/app/src/main/res/values/icons.xml" />
        <icon background="@color/background" density="ldpi" foreground="res/android/ldpi.png" />
        <icon background="@color/background" density="mdpi" foreground="res/android/mdpi.png" />
        <icon background="@color/background" density="hdpi" foreground="res/android/hdpi.png" />
        <icon background="@color/background" density="xhdpi" foreground="res/android/xhdpi.png" />
        <icon background="@color/background" density="xxhdpi" foreground="res/android/xxhdpi.png" />
        <icon background="@color/background" density="xxxhdpi" foreground="res/android/xxxhdpi.png" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/xxxhdpi.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#1a1d1e" />
    </platform>
</widget>
